In [ ]:
# ---variable creation----

In [ ]:
# ---data_types---
# int-----0-9 numbers
# float---- 10.25 decimal numbers
# character----A-Z letters and special characters(decimal numbers)

In [ ]:
# variable=="value"

In [ ]:
# ----This is example of single variable creation-----

In [2]:
first_name="prasanna"

In [3]:
print(first_name)

prasanna

In [ ]:
# ----This is example of variable creation----

In [4]:
frd1="mamatha"

In [5]:
frd2="prasanna"

In [6]:
print("my friends names are",frd1,frd2)

my friends names are mamatha prasanna

In [ ]:
# range function: It dispaly range condition based two or more values
#     syntax:
#         varable_name(index_number:index_number)
# ----it dipaly only one value ---
# syntax:
#      varaiable[ perticular index_number]

In [7]:
# example of range funtion:
name=["prasanna","sravani","mamatha","medhana","madhu_priya"]

In [8]:
print(name)

['prasanna', 'sravani', 'mamatha', 'medhana', 'madhu_priya']

In [9]:
name

['prasanna', 'sravani', 'mamatha', 'medhana', 'madhu_priya']

In [10]:
name[0:2]

['prasanna', 'sravani']

In [13]:
name[1:3]

['sravani', 'mamatha']

In [14]:
name[0]

'prasanna'

In [16]:
name[4]

'madhu_priya'

In [18]:
# addition:
a=5
b=5
c=a+b
print(c)

10

In [ ]:
# list[]
# --> it used for slicing data, change,replace,slicing forward,backword,+1,-1
# it modofy data and replace data
# syntax:
#     list=["value1","value2","value3"]

In [19]:
list=["prasanna","sravani","mamatha","medhana","madhu_priya"]
print(list)

['prasanna', 'sravani', 'mamatha', 'medhana', 'madhu_priya']

In [ ]:
# set{}
# data  it will be assceending order or desc  order
# set will be used duplicates removed 
# sequential data to use set
# synatx:
#     set={1,2,3,1,5,3,8}

In [1]:
set={1,2,3,1,5,3,8}

In [2]:
print(set)

{1, 2, 3, 5, 8}

In [ ]:
# tuple()
# slicing data forward and backword
# can't modify the data and can't repalce data
# syntax:
#     tuple=(1,2,4,5,2,3)

In [3]:
tuple=(1,2,4,5,2,3)

In [4]:
tuple

(1, 2, 4, 5, 2, 3)

In [6]:
dict={"name":["prasanna","sravani","meghana","chandrika"]}

In [12]:
print(dict["name"][1:5])

['sravani', 'meghana', 'chandrika']

In [ ]:
# if condition:
#     suntax:
#         if condition:
#         statement

In [14]:
name="prasanna"
if name =="prasanna":
    print("true")

true

In [ ]:
# if else condition:
#     if condition:
#         statement
#     else:
#         statement

In [15]:
name="prasanna"
if name =="sravani":
    print ("true")
else:
    print("flase")

flase

In [ ]:
# if elif and else condition:
# if condition:
#     statement
# elif condition:
#     statement
# else:
#     statement

In [16]:
name="prasanna"
if name =="sravani":
    print("true")
elif name =="mamatha":
    print("true")
else:
    print("flase")

flase

In [17]:
name="prasanna"
if name =="sravani":
    print("true")
elif name =="mamatha":
    print("true")
elif name =="prasanna":
    print("true")
else:
    print("flase")

true

In [18]:
name="prasanna"
if name =="sravani":
    print("true")
elif name =="mamatha":
    print("true")
elif name =="prasanna":
    print("true, my name is",name )
else:
    print("flase")

true, my name is prasanna

In [ ]:
# loops:
# for loop:
# syntax:
#     list=["value1","value2","value3"]
#     for p in list:
#         print(p)

In [22]:
list=["prasanna","sravani","mamatha","medhana","madhu_priya", "chandrika"]
for p in list:
    print("my friends names are",p)

my friends names are prasanna
my friends names are sravani
my friends names are mamatha
my friends names are medhana
my friends names are madhu_priya
my friends names are chandrika

In [ ]:
# loop and condition based

In [30]:
list=["prasanna","sravani","mamatha","medhana","madhu_priya", "chandrika"]
for p in list:
    if list =="mamatha":
        print("my friends names are",list)
    print("my friends names are",p)

my friends names are prasanna
my friends names are sravani
my friends names are mamatha
my friends names are medhana
my friends names are madhu_priya
my friends names are chandrika